LLM_API_KEY=your_zai_api_key_here
PRIVATE_KEY=your_wallet_private_key_here

# 0G Mainnet Config
RPC_URL=https://evmrpc-testnet.0g.ai
ZERO_TESTNET_RPC=
CONTRACT_ADDRESS=0xF5E23E98a6a93Db2c814a033929F68D5B74445E2
PAPER_ANCHOR_ADDRESS=0xbb9775A363c63b84e7e7a949eE410eDd1eCB1FCE
NFT_CONTRACT_ADDRESS=0x5495b92aca76B4414C698f60CdaAD85B364011a1
PORT=3001
